.makeOverlay {
	position: relative;
}

.makeOverlay:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	/* Black see-through */
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overlay h2 {
	text-transform: capitalize;
}

.overlay {
	font-weight: 200;
}